<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale = 1, user-scalable = no">

    <link rel="stylesheet" href="css/jquery.fileupload.css">

    <script type="text/javascript" src="./lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="lib/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="./lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="./lib/vue.min.js" charset="utf-8"></script>
    <style>
        ul,
        dl,
        li,
        dt,
        dd {
            list-style: none;
        }

        body {
            margin: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }

        .blockButtons {
            position: absolute;
            top: -50px;
            background: lightblue;
            width: 100%;
            margin: 5px 0;
            padding: 5px 0;
            z-index: 100;
        }
        .swiperButtons {
            position: absolute;
            top: 0px;
            z-index: 100;
        }
        .topSpanButton {
            background: lightgreen;
            float: right;
            margin: 0px 3px;
            border-width: 2px;
            border-style: outset;
            padding: 1px 6px;
            font: 400 13.3333px Arial;
        }
        .swiperButtons button {
            margin: 2px 0;
            padding: 1px 0;
        }

        .partType {
            line-height: 25px;
            height: 25px;
            margin: 2px;
        }
        .swiper {
            width: 100%;
            z-index: 10;
            overflow-x: auto;
            background-color: lightgoldenrodyellow;
        }
        .focused {
            background:lightgreen;
        }
        .swiper-item {
            display: table-cell;
            border: solid 3px lightgray;
            position: relative;
            vertical-align: middle;
        }
        .swiper-item.focused {
            border: solid 3px lightgreen;
        }
    </style>
</head>

<body>
    <div id="app" :style="'background-color: #fff;padding: 35px 16px 12px;text-align: justify;color: #333;font-size: 17px;font-family: 宋体;font-size: 14px;line-height: 1.6em;' + doc.docStyle">
        <div style="z-index:1000;top:10px;right:10px;position: fixed;">
            <button style="background:lightgreen;float:right;margin: 0 3px;" v-on:click="doSubmit">提交</button>
            <span class="fileinput-button" style="float:right;">
                <span class="topSpanButton">上传媒体文件</span>
                <input v-on:click="uploadFiles" accept="image/*,audio/*,video/*" type="file" id="fileUpload">
            </span>
            <button style="background:lightgreen;float:right;margin: 0 3px;" v-on:click="unselect">取消选择</button>
            <button style="background:lightgreen;float:right;margin: 0 3px;" v-if="!doc.swiper" v-on:click="addSwiper">加轮播</button>
            <button style="background:lightgreen;float:right;margin: 0 3px;" v-if="doc.swiper" v-on:click="removeSwiper">删轮播</button>

        </div>
        <div class="swiper" v-if="doc.swiper" :class="{focused:doc.swiper._active}">

            <div :class="['swiper-item',{focused:doc.swiper._active && doc.swiper._selectSwiperIndex === index}]" v-for="(item,index) of doc.swiper.images"
                v-on:click="focusItem(doc.swiper);selectSwiper(index)">
                <img :src="path + item" style="width:110px;height:90px;vertical-align: middle;">
                <img v-if="doc.thumbnail === 'thumbnail' + item" title="列表缩略图" src="infoedit/images/icon.png" style="background:white;position:absolute;top:0;right:0;width:40px;height: 40px;" />

                <div v-if="doc.swiper._active && doc.swiper._selectSwiperIndex === index" class="swiperButtons">
                    <button v-on:click.stop="addSwiperImage">加图</button>
                    <button v-on:click.stop="removeSwiperImage">删图</button>
                    <button v-on:click.stop="moveSwiper(-1)">左移</button>
                    <button v-on:click.stop="moveSwiper(+1)">右移</button>
                    <button v-on:click.stop="changeSwiperImage(index)">换图</button>
                    <button v-show="path !== 'datas/intro/'" v-on:click="doThumbnail(item)">缩略图</button>
                </div>
            </div>
        </div>

        <div v-on:click="focusItem(doc._title);doc._title._editable = true" v-show="!doc._title._editable" :style="'font-weight: 400;font-size: 22px;    line-height: 22px;margin-bottom: 14px;' + doc.titleStyle">
            {{doc._title.title}}
        </div>
        <input v-on:click="focusItem(doc._title);" v-on:blur="doc._title._editable = false" v-show="doc._title._editable"
            style="width:100%;height: 22px;margin-bottom: 14px;" v-model="doc._title.title" />

        <div v-on:click="focusItem(doc._address);doc._address._editable = true" v-show="!doc._address._editable" :style="'font-size: 14px;    line-height: 14px;margin-bottom: 16px;' + doc.addressStyle">
            {{doc._address.address}}
        </div>
        <input v-on:click="focusItem(doc._address);" v-on:blur="doc._address._editable = false" v-show="doc._address._editable"
            style="width:100%;height: 14px;margin-bottom: 16px;" v-model="doc._address.address" />

        <div v-on:click="focusItem(item)" v-for="item in doc.contents" :style="'position:relative;box-sizing: border-box;' +doc.blockStyle">
            <div v-if="item.tag === 'p'" :class="{focused:item._active}" :style="item.wrapStyle">
                <div v-show="!item._editable" :style="item.style">
                    {{item.text}}
                </div>
                <textarea v-show="item._editable" rows="12" style="width:100%;height:100%;" v-model="item.text"></textarea>
            </div>
            <div v-if="item.tag === 'image'" style="text-align: center;margin-top: 10px;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                <div :class="{focused:item._active}" :style="'position:relative;'+item.wrapStyle">
                    <img :style="'width:100%;' +item.style" mode="widthFix" :src="path + item.src" />
                    <img v-if="doc.thumbnail === 'thumbnail' + item.src" title="列表缩略图" src="infoedit/images/icon.png"
                        style="background:white;position:absolute;top:0;right:0;width:40px;height: 40px;" />
                </div>
            </div>
            <div v-if="item.tag === 'audio'" :class="{focused:item._active}" :style="'padding:20px 0;' + item.wrapStyle">
                <audio :style="item.style" :name="item.name" :poster="item.poster" :author="item.author" :src="path + item.src"
                    controls></audio>
            </div>

            <div v-if="item.tag === 'br'" :class="{focused:item._active}" :style="'height:15px;' + item.wrapStyle">
                <div :style="'height:10px;' + item.style">
                </div>
            </div>

            <div v-if="item.tag === 'hr'" :class="{focused:item._active}" :style="'padding:5px 0;' + item.wrapStyle">
                <div :style="'height:1px;background-color:#b2b2b2;' + item.style">
                </div>
            </div>
            <div v-if="item.tag === 'video'" :class="{focused:item._active}" :style="'text-align:center;' + item.wrapStyle">
                <video :src="path + item.src" :style="'width:100%;' + item.style" controls></video>
            </div>
            <div v-if="item._active" class="blockButtons">
                <span>{{item.tag}}</span>
                <button v-show="item.tag === 'p'" v-on:click="edit">编辑</button>
                <button v-show="item.tag === 'image'" v-on:click.stop="changeFile('image')">换图片</button>
                <button v-show="item.tag === 'audio'" v-on:click.stop="changeFile('audio')">换音频</button>
                <button v-show="item.tag === 'video'" v-on:click.stop="changeFile('video')">换视频</button>
                <button v-on:click.stop="remove">删除</button>
                <button v-on:click.stop="moveUp">上移</button>
                <button v-on:click.stop="moveDown">下移</button>
                <div style="position: relative;display: inline-block;">
                    <button v-on:click="openItem">添加</button>
                    <ul id="actions" style="display: none;width:60px;padding:0;margin:25px 0 0 0;top:0;position: absolute;background: white;">
                        <li><button class="partType" v-on:click="addItem('p')">加文本</button></li>
                        <li><button class="partType" v-on:click="addItem('image')">加图片</button></li>
                        <li><button class="partType" v-on:click="addItem('audio')">加音频</button></li>
                        <li><button class="partType" v-on:click="addItem('video')">加视频</button></li>
                        <li><button class="partType" v-on:click="addItem('br')">加空行</button></li>
                        <li><button class="partType" v-on:click="addItem('hr')">加横线</button></li>
                    </ul>
                </div>
                <button v-show="item.tag === 'image'" v-on:click="doThumbnail(item.src)">缩略图</button>
            </div>
        </div>

        <div v-if="doc.from" style="color:#576b95;font-size:14px;margin:20px 0;">
            来源:<span v-on:click="focusItem(doc._from);doc._from._editable = true" v-show="!doc._from._editable">{{doc._from.from}}</span>
            <input v-on:click="focusItem(doc._from);" v-on:blur="doc._from._editable = false" v-show="doc._from._editable"
                v-focus v-model="doc._from.from" />
        </div>
    </div>

</body>
<script>
    var key;
    var path;
    var currentItem;
    var doc;

    $(document).ready(function () {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            if (pair[0] === "path") {
                path = pair[1];
                break;
            }
        }
        if (!path) {
            return;
        }
        if (path.startsWith("datas/p/")) {
            let pos = path.indexOf("/", 8);
            if (pos > 0) {
                key = path.substring(8, pos);
            }
        } else if (path === "datas/intro/") {
            key = "intro";
        }
        if (!key) {
            return;
        }


        let url = path + key + ".json?v=" + new Date().getTime();
        $.getJSON(url, function (data) {
            // console.dir(data)
            buildApp(data)
        })
    });


    function buildApp(dacData) {
        doc = dacData;
        doc._title = {
            title: doc.title,
            _editable: false
        };
        doc._address = {
            address: doc.address,
            _editable: false
        };
        doc._from = {
            from: doc.from,
            _editable: false
        };
        if (!doc.thumbnail) {
            doc.thumbnail = "";
        }
        for (let index in doc.contents) {
            let item = doc.contents[index];
            item._active = false;
            item._editable = false;
        }
        if (!doc.swiper) {
            doc.swiper = {
                "autoplay": true,
                "indicatorDots": true,
                "images": [
                ]
            }
        }
        if (doc.swiper) {
            doc.swiper._selectSwiperIndex = -1;
            doc.swiper._active = false;
        }
        new Vue({
            el: "#app",
            data: {
                path: path,
                doc: doc
            },
            created: function () {
                if (doc.swiper && doc.swiper.images.length === 0) {
                    doc.swiper = null;
                }
            },
            methods: {
                unselect: function () {
                    if (doc.swiper) {
                        doc.swiper._selectSwiperIndex = -1;
                    }
                    if (currentItem) {
                        currentItem._active = false;
                        currentItem._editable = false;
                    }
                    currentItem = null;
                },
                focusItem: function (selectItem) {
                    if (currentItem === selectItem) {
                        return;
                    }
                    if (currentItem) {
                        currentItem._active = false;
                        if (currentItem._editable) {
                            currentItem._editable = false;
                        }
                    }
                    currentItem = selectItem;
                    if (currentItem) {
                        currentItem._active = true;
                    }
                },
                edit: function (event) {
                    if (currentItem) {
                        currentItem._editable = true;
                    }
                },
                remove: function () {
                    if (currentItem) {
                        let index = doc.contents.indexOf(currentItem);
                        doc.contents.splice(index, 1)
                    }
                },
                changeFile: function (fileType) {
                    let url = "service?name=pathfiles&path=" + path + "&type=" + fileType + "&v=" + new Date().getTime();
                    $.getJSON(url, function (ret) {
                        if (ret.retCode === 0 && ret.data && ret.data.length > 0) {
                            let index = ret.data.indexOf(currentItem.src);
                            if (index >= 0) {
                                index += 1;
                                if (index === ret.data.length) {
                                    index = 0;
                                }
                                currentItem.src = ret.data[index];
                            } else {
                                currentItem.src = ret.data[0];
                            }
                        }
                    })
                },
                moveUp: function () {
                    let index = doc.contents.indexOf(currentItem);
                    if (index > 0) {
                        let upItem = doc.contents[index - 1];
                        doc.contents[index - 1] = currentItem;
                        doc.contents[index] = upItem;
                        this.unselect();
                    }
                },
                moveDown: function () {
                    let index = doc.contents.indexOf(currentItem);
                    if (index < doc.contents.length - 1) {
                        let downItem = doc.contents[index + 1];
                        doc.contents[index + 1] = currentItem;
                        doc.contents[index] = downItem;
                        this.unselect();
                    }
                },
                openItem: function () {
                    $("#actions").toggle();
                },
                addItem: function (tag) {
                    let index = doc.contents.indexOf(currentItem);
                    let item = {
                        "tag": tag
                    }
                    if (tag === "p") {
                        item.text = "新加段落";
                    } else if (tag === "vido") {
                        item.src = "";
                    } else if (tag === "audio") {
                        item.src = "";
                    } else if (tag === "image") {
                        item.src = "";
                    }
                    item._active = false;
                    item._editable = false;

                    doc.contents.splice(index + 1, 0, item);
                },
                changeSwiperImage: function (selectIndex) {
                    let url = "service?name=pathfiles&path=" + path + "&type=image&v=" + new Date().getTime();
                    $.getJSON(url, function (ret) {
                        if (ret.retCode === 0 && ret.data && ret.data.length > 0) {
                            let image = doc.swiper.images[selectIndex];
                            let index = ret.data.indexOf(image);
                            let images = [];
                            for (let k of doc.swiper.images) {
                                images.push(k);
                            }
                            if (index >= 0) {
                                index += 1;
                                if (index === ret.data.length) {
                                    index = 0;
                                }
                                images[selectIndex] = ret.data[index];
                            } else {
                                images[selectIndex] = ret.data[0];
                            }
                            doc.swiper.images = images;
                        }
                    })
                },
                moveSwiper: function (offset) {
                    if (doc.swiper._selectSwiperIndex + offset >= 0 && doc.swiper._selectSwiperIndex + offset <= doc.swiper.images.length - 1) {
                        let theImage = doc.swiper.images[doc.swiper._selectSwiperIndex + offset];
                        doc.swiper.images[doc.swiper._selectSwiperIndex + offset] = doc.swiper.images[doc.swiper._selectSwiperIndex];
                        doc.swiper.images[doc.swiper._selectSwiperIndex] = theImage;

                        let images = [];
                        for (let k of doc.swiper.images) {
                            images.push(k);
                        }
                        doc.swiper._selectSwiperIndex += offset;
                        doc.swiper.images = images;
                    }
                },
                addSwiperImage: function () {
                    if (doc.swiper._selectSwiperIndex >= 0 && doc.swiper._selectSwiperIndex <= doc.swiper.images.length - 1) {
                        doc.swiper.images.splice(doc.swiper._selectSwiperIndex + 1, 0, "")

                        let images = [];
                        for (let k of doc.swiper.images) {
                            images.push(k);
                        }
                        doc.swiper._selectSwiperIndex = -1;
                        doc.swiper.images = images;
                    }
                },
                removeSwiperImage: function () {
                    if (doc.swiper._selectSwiperIndex >= 0 && doc.swiper._selectSwiperIndex <= doc.swiper.images.length - 1) {
                        doc.swiper.images.splice(doc.swiper._selectSwiperIndex, 1)

                        let images = [];
                        for (let k of doc.swiper.images) {
                            images.push(k);
                        }
                        doc.swiper._selectSwiperIndex = -1;
                        doc.swiper.images = images;
                    }
                },
                addSwiper: function () {
                    doc.swiper = {
                        "autoplay": true,
                        "indicatorDots": true,
                        "_selectSwiperIndex": -1,
                        "_active": false,

                        "images": [
                            ""
                        ]
                    }
                },
                removeSwiper: function () {
                    doc.swiper = null;
                },
                selectSwiper: function (index) {
                    doc.swiper._selectSwiperIndex = index;
                },
                doThumbnail: function (imageSrc) {
                    if (key && key !== "intro") {
                        doc.thumbnail = "thumbnail" + imageSrc;
                        let updateData = {
                            "thumbnail": "thumbnail" + imageSrc,
                            "key": key
                        }

                        savePOI(updateData);
                    }
                },
                doSubmit: function () {
                    this.unselect();
                    let title = doc._title.title;
                    let address = doc._address.address;
                    let from = doc._from.from;
                    let newData = regularData(doc);
                    if (title) {
                        title = $.trim(title);
                    }
                    newData.title = title;
                    if (address) {
                        address = $.trim(address);
                    }
                    newData.address = address;
                    if (from || from === "") {
                        from = $.trim(from);
                        if (from.length === 0) {
                            from = null;
                        }
                    }
                    newData.from = from;
                    saveDoc(newData);
                },
                uploadFiles: function () {
                    let $upload = $('#fileUpload');
                    $upload.fileupload({
                        url: "upload?name=uploaddetailfiles&path=" + path,
                        dataType: 'json',
                        done: function (e, ret) {
                            if (ret.result.retCode === 0) {
                            } else if (ret.result.message) {
                                alert(ret.result.message)
                            }
                        },
                        progressall: function (e, ret) {
                        }
                    })

                }
            }
        })
    }

    function regularData(data) {
        let newData = {};
        for (let k in data) {
            if (!k.startsWith("_")) {
                if ($.isArray(data[k])) {
                    newData[k] = validArray(data[k])
                } else {
                    newData[k] = data[k];
                }
            }
        }
        return newData;
        function validArray(items) {
            let newArray = [];
            for (let item of items) {
                let type = $.type(item);
                if (type === "string") {
                    newArray.push(item);
                } else {
                    newArray.push(validObject(item));
                }
            }
            return newArray;
        }
        function validObject(item) {
            if ($.isArray(item)) {
                let newArray = [];
                for (let k of item) {
                    if ($.isArray(k)) {
                        newArray.push(validArray(k));
                    } else {
                        newArray.push(K);
                    }
                }
                return newArray;
            } else {
                let newItem = {};
                for (let k in item) {
                    if (!k.startsWith("_")) {
                        if ($.isArray(item[k])) {
                            newItem[k] = validArray(item[k])
                        } else {
                            newItem[k] = item[k];
                        }
                    }
                }
                return newItem;
            }
        }

    }

    function saveDoc(doc) {
        let fileContent = JSON.stringify(doc);

        if (fileContent) {
            let url = path + key + ".json";
            $.ajax({
                type: "POST",
                url: "service?name=filesave&path=" + url,
                dataType: "json",
                data: fileContent,
                contentType: 'text/plain; charset=UTF-8',
                cache: false,
                success: function (ret) {
                    if (ret.retCode === 0) {
                        // console.log("save success!")
                    } else {
                        if (ret.message) {
                            alert(ret.message)
                        }
                    }
                }
            });
        }
    }

    function savePOI(poi) {
        $.ajax({
            type: "POST",
            url: "service?name=updatepoi",
            dataType: "json",
            data: JSON.stringify(poi),
            contentType: 'text/plain; charset=UTF-8',
            cache: false,
            success: function (ret) {
                if (ret.retCode === 0) {
                    //数据保存
                    $.getJSON("service?name=saveall&v=" + new Date().getTime());
                } else {
                    if (ret.message) {
                        alert(ret.message)
                    }
                }
            }
        });
    }

</script>

</html>